* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}

nav {
	background: #0082e6;
	height: 80px;
	width: 100%;
}

label.logo {
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}

nav ul li a {
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a.active,
a:hover {
	background: #1b9bff;
	transition: .5s;
}

section {
	background: url(images/background.png) no-repeat;
	background-size: cover;
	height: calc(120vh - 90px);
}

.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #fff;
}

.content h1 {
	font-size: 65px;
	margin-top: 120px;
	color: white;
}

.content p {
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}

button {
	width: 180px;
	padding: 15px 0;
	text-align: center;
	margin: 5px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #f3c070;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;


}

span {
	background: #2678EE;
	height: 100%;
	width: 100%;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}

button:hover span {
	width: 100%;
}

button:hover {
	border: none;
}

.back {
	background: url(images/pro-info.png) no-repeat;
	background-size: cover;
	height: calc(120vh - 90px);
}

.cover {
	width: 900px;
	height: 400px;
	margin-top: 50px;
	display: flex;
}

.box {
	margin: 20px;
	width: 260px;
	height: 450px;
	box-shadow: -4px 0 10px #000000;
	align-items: center;
	justify-content: center;
	text-align: center;
}

img {
	width: 145px;
	height: 100px;
	display: flex;
	justify-content: baseline;
}

canvas {
	margin-left: 32%;
	margin-top: -40%;
	position: absolute;
}

.Add_Grass {
	width: 200px;
	background-color: forestgreen;
	color: white;
	border: 3px solid red;
}

.Add_Grass:hover {
	color: red;
}

.Add_GrassEater {
	width: 200px;
	background-color: yellow;
	color: black;
	border: 3px groove blue;
}

.Add_GrassEater:hover {
	color: blue;
}

.Add_Predator {
	width: 200px;
	background-color: red;
	color: white;
	border: 3px ridge orange;
}

.Add_Predator:hover {
	color: blue;
}

.Add_Enviromentalist {
	width: 200px;
	background-color: white;
	color: black;
	border: 3px groove blue;
}

.Add_Enviromentalist:hover {
	color: green;
}

.Add_Aboriginal {
	width: 200px;
	background-color: #000000;
	color: white;
	border: 3px inset skyblue;
}

.Add_Aboriginal:hover {
	color: yellow;
}

.Add_Hunter {
	width: 200px;
	background-color: blue;
	color: black;
	border: 3px outset red;
}

.Add_Hunter:hover {
	color: gold;
}

.conteiner {
	width: 100px;
	margin-top: 21%;
	margin-left: 7%;
	font-size: 25px;
	animation: headShake 0.9s infinite;
}

.conteiner2 {
	width: 100px;
	margin-top: -20%;
	margin-left: 75%;
	animation: headShake 0.9s infinite;
}

.wheater {
	margin-top: -38%;
	margin-left: 18%;
	animation: heartBeat 3s infinite;
}

.wheater1 {
	background-color: green;
	color: yellow;
	border: 3px groove red;
}

.wheater1:hover {
	color: yellowgreen;
}

.wheater2 {
	background-color: yellow;
	color: blue;
	border: 3px ridge green;
}

.wheater2:hover {
	color: green;
}

.wheater3 {
	background-color: goldenrod;
	color: gold;
	border: 3px inset green;
}

.wheater3:hover {
	color: brown;
}

.wheater4 {
	background-color: white;
	color: rgb(20, 164, 231);
	border: 3px outset blue;
}

.wheater4:hover {
	color: blueviolet;
}

.Add_Mine {
	background-color: brown;
	color: white;
	border: 3px solid red;
	width: 200px;
}

.Add_Mine:hover {
	color: blue;
}

.Unikal {
	background-color: darkblue;
	color: rgb(55, 10, 97);
	border: solid 3 px red;
	width: 200px;
	margin-right: -20%;
}

.Unikal:hover {
	color: black;
}